<h4>Hello Fuys</h4>
<h4>Workig with Data</h4>
<h4>@ViewBag.Name</h4>
<h4>@ViewBag.Age</h4>
<h5>ViewBag.Boyfriend</h5>
<h5>@ViewBag.Boyfriend</h5>
<h4>@DateTime.Now</h4>
<h4>DateTime.Now</h4>
@for (int i = 0; i < 10; i++)
{
    <h4>i</h4>
    <h4>@i</h4>
}


@*sdjksdklsdkjsd*@
@* In Mvc View u can write c# and u can write Html *@
